# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Backend data
/backend/data/*
!/backend/data/.gitkeep

# Backend model files
/backend/model/*
!/backend/model/.gitkeep

# Local DB files
/backend/db/*.sqlite
/backend/db/*.sqlite3
/backend/db/*.db

# Environment variables
.env
.env.local
.env.*.local

# IDE / OS
.DS_Store
.idea/
.vscode/

# Logs
*.log
logs/