# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Backend data
/backend/train_model/data/*
!/backend/train_model/data/.gitkeep

# Backend model files
/backend/train_model/models/*
!/backend/train_model/models/.gitkeep

# Local DB files
/backend/db/*.sqlite
/backend/db/*.sqlite3
/backend/db/*.db
!/backend/db/.gitkeep

# Environment variables
.env
.env.local
.env.*.local

# IDE / OS
.DS_Store
.idea/
.vscode/
.qwen/

# Logs
*.log
logs/