.DS_Store

__pycache__/
*.py[cod]
*.log

.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

venv/
.venv/
env/

db/*.db
db/*.sqlite
db/*.sqlite3

tests/

train_model/
!train_model/models

*.zip
*.tar
*.tar.gz
*.csv
*.xlsx
*.parquet
*.pkl
*.joblib